<div class="row">
    <div class="medium-12">
        <h2>Projects</h2>
        <hr/>
    </div>
</div>
<div class="row">

    <section>
        <div class="medium-10 medium-offset-1">
            <div class="image-hover-wrapper">
                <span class="image-hover-wrapper-banner">Join my wedding</span>
                <a href="https://www.joinmywedding.com/"><img src="assets/img/Capture.PNG">
                    <span class="image-hover-wrapper-reveal">
                    <p>Check it<br><i class="fa fa-link" aria-hidden="true"></i></p>
                  </span>
                </a>
            </div>
        </div>
    </section>


</div>