<div class="off-canvas-content" data-off-canvas-content>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large" id="offCanvasLeft" data-off-canvas data-position="left">
                <app-left-bar></app-left-bar>
            </div>
        </div>

        <div class="title-bar hide-for-large">
            <div class="title-bar-left">
                <button class="menu-icon" type="button" data-open="offCanvasLeft" aria-expanded="false" aria-controls="my-info"></button>
                <span class="title-bar-title">Eduardo Vargas</span>
            </div>
        </div>
        <div class="margin-top-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>