.position-left {
    width: 350px !important;
}

li>a {
    padding-left: 0!important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.my-name {
    font-family: 'Roboto Condensed', sans-serif;
}

.sub-tittle {
    font-family: 'Roboto Condensed', sans-serif;
}

.short-about {
    font-family: 'Roboto Condensed', sans-serif;
}