<div class="row column margin-top-1">
    <div class="medium-10 medium-offset-1 ">
        <img src="assets/img/eduardo-profile.jpg">
    </div>
    <div class="medium-10 medium-offset-1">
        <h3 class="my-name">Eduardo Vargas</h3>
        <h4 class="sub-tittle">Web Developer</h4>
        <h6 class="short-about">I am a Brazilian developer living in Budapest, <a>more about me.</a>
        </h6>
    </div>
    <div class="medium-10 medium-offset-1">
        <ul class="vertical menu ">
            <li><a routerLink="projects" routerLinkActive="active">Projects</a></li>
            <li><a routerLink="aboutme">About Me</a></li>
            <li><a routerLink="cv">CV</a></li>
            <li><a routerLink="contact">Contact</a></li>
            <li><a routerLink="blog">Blog</a></li>
        </ul>
    </div>
</div>